#count-button{
}

.count-label{
  font-size: 5rem;
  color:black;
}

.main-content{
top: 3%;
}

.count-row{
  // border : 1px solid black;
//  border-radius: 10px ;
  // height: 100%;
  margin-bottom: 7%;
  // color: white;
  // background-color: dodgerblue;
}


ion-item{
  --border-radius: 5px;
}